h1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: Khaki;
}
h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: MediumSpringGreen;
}
.price{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
h3{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: LightCoral;
}
h4{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: SkyBlue;
}
h5{
  font-weight: bold;
}
